@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap);

.header
{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
   padding-top: 10px;
   background-color: white;
   border-bottom-width: 1px;
   border-bottom-style: solid;
   border-bottom-color: rgb(230, 230, 230);
   
}

.sidebar{

   background-color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    width: 75px;
    z-index: 200;
    padding-top: 5px;
}

.sidebar-icon img
{
    height: 24px;
    margin-bottom: 4px;
}

.sidebar-icon
{

    height: 74px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.sidebar-icon:hover
{
    background-color: rgb(239, 235, 235);
    cursor: pointer;
}


.sidebar-icon div
{
    font-family: Roboto,Arial;
    font-size: 10px;
}
.thumbnails-row
{
    position: relative;
    margin-bottom: 12px;

}

.video-time
{
    font-family: Roboto,Aria;
    font-size: 12px;
    font-weight: 500px;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 8px;
    right: 5px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 2px;
    z-index: 0;
}
.menu
{
    height: 25px;
    margin: 25px;
}

.youtube-logo{
    height: 25px;
}

.search-logo
{
    margin-top: 2px;
    height: 25px;
}

.left-section
{
    display: flex;
    align-items: center;
}

.searchbar
{
    padding-left: 10px;
    font-size: 16px;
    flex: 2;
    height: 36px;
    border-color: grey;
    border-width: 1px;
    border-radius: 2px;
    box-shadow: inset 1px 2px 5px rgba(0,0,0,0.1);
    width: 0;
}

.searchbar::placeholder
{
    font-family: Roboto,Arial;
    font-size: 16px;
    padding-left: 10px;
}

.search-button:hover .tooltip ,
.voice-button:hover .tooltip,
.upload-button:hover .tooltip
{
    opacity: 1;
}

.search-button .tooltip ,   .voice-button .tooltip , .upload-button .tooltip
{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: grey;
    color: white;
    padding-top: 4px;
    padding-right: 4px;
    padding-left: 8px;
    padding-bottom: 4px;
    border-radius: 2px;
    font-size: 12px;
   bottom: -30px;
   opacity: 0 ;
   transition: opacity 0.15s;
   pointer-events: none;
   white-space: nowrap;
   align-items: center;
   justify-content: center;

}


.search-button , .voice-button
{
   position: relative;
    height: 40px;
    width: 66px;
    margin-left: -2px;
    margin-right: 10px;

}

.search-button 

.voice-logo
{
    height: 10px;
}

.voice-button
{
    height: 30px;
    width: 40px;
    border-radius: 20px;
    border: 0;
    background-color: rgba(244,244,248);

}

.middle-section
{
    display: flex;
    align-items: center;
    margin-left: 70px;
    margin-right: 35px;
    flex: 2;
    max-width: 500px;
}

.upload
{
    height: 24px;

}

.apps
{
    height: 24px;
}

.notifications
{
    height: 24px;
}

.notifications-icon-container
{
    position: relative;
}

.notifications-count
{
    position: absolute;
    top:-4px;
    right: -4px;
    background-color: rgb(218, 0, 0);
    color: white;
    font-family: Roboto,Arial;
    font-size: 11px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px ;
    padding-bottom: 2px;
    border-radius: 10px;
}

.youtuber
{
    height: 35px;
    border-radius: 16px;
}

.right-section
{
    display: flex;
    width: 180px;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink: 0;
    height: 50px;
    margin-bottom: 0px;
}

.thumbnails
{
    width: 100%;

}

body
{
    margin: 0;
    padding-top: 80px;
    padding-left: 96px;
    padding-right: 24px;
    background-color: rgb(255, 252, 252);
}

.video-title
{
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    margin-bottom: 12px;
}


.description
{
    display: inline-block;
    width: 200px;

}

.pfp
{
    width: 40px;
    border-radius: 30px;
    
}

p{
    font-family: Roboto,Arial;
    margin-top: 0;
    margin-bottom: 0;
}

.creater-name
{
    font-size: 12px;
    color: grey;
    margin-bottom: 6px;
}

.views-date
{
    font-size: 10px;
    color: grey;

}

.video-grid
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 25px;
    padding-top: 10px;

}

@media (max-width: 750px) {
    .video-grid
    {
        grid-template-columns: 1fr 1fr;
    }
    
}

@media (min-width: 1000px)
{
    .video-grid
    {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.channel-pic
{
    display: inline-block;
    vertical-align: top;
}

